
header{
}
body{
  background: url(./images/dashboard_office.jpg);
}




ul{
    list-style-type: none;
}


.d-flex{
  position: absolute;
  right: 2em;
}



div{
    font-size: 25px;
    margin-left: 7.3%;

}

.dashboardbox:hover {
    text-decoration: none;
    transform: scale(1.025);
    transition: 0.5s;
}

.dashboardbox{
  background-color: rgb(255, 255, 255);
}

.dashboardbox h3{
    border-bottom: solid 1px;
    border-bottom-color: lightgrey;
}

.row1{
    margin-top: 6.5%;
}

.info{
    padding: 30px;
    width: 37.5%;
    height: 20%;

}

.feed{
    padding: 30px;
    width: 50%;
    height: 475px;
    margin-top: -10%;
}

#postfeedform{
    display: none;
}

.tasks{
    padding: 30px;
    width: 37.5%;
    height: 400px;
    margin-left: 1%;

}

.deptInfo{
    padding: 30px;
    width: 50%;
    height: 20%;
    margin-top: 0.75%;
    margin-left: 1%;
}

.dptLst{
    list-style-type: none;
}

h3{
    text-align: center;
    text-underline: black;
}


#profilelayout{
  display: flex;
  flex-direction: row;
}
